/* common shared styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button,
input {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 15px 35px;
  cursor: pointer;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  margin-top: 30px;
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  padding: 20px 0;
}

nav .nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav .nav-title .nav-title-highlight {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 45%;
}

.header .banner {
  padding: 90px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner > div {
  margin-right: 20px;
  max-width: 500px;
}

.banner .profle-pic {
  width: 400px;
}

.banner-gretting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  font-size: 80px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-discription {
  color: #757577;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Main-Section-Style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 0px;
}

.about-info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.info-description {
  color: #474747;
  font-weight: 800;
}

/* What I Do Section Styling */
#what-i-do-description {
  padding: 0 150px 30px 150px;
}

.skills-container {
  display: flex;
  gap: 24px;
}

.skills {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* Summary-Related-Style */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-item:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}
.resume-item {
  padding: 30px 0px;
}

.resume-container {
  display: flex;
  gap: 50px;
  margin-top: 80px;
}

.resume-item-title {
  color: var(--dark-02, #474747);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-item-sub-title {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.resume-download-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* footer styling */
footer {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 180px;
  margin-top: 100px;
}

.footer-column {
  width: 50%;
}

.contact {
  margin-top: 30px;
}

.contact input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 15px 35px;
  font-size: 16px;
  color: #757575;
  border: 0px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}

.footer-column h3,
p {
  text-align: left !important;
}

.footer-column p {
  font-size: 14px;
  text-align: justify;
  line-height: 20px;
}

.social-links {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.social-links a {
  text-decoration: none;
}
